//- - var user = JSON.parse (json)
html
    head
        title=title
    body
        h2 User: #{user.info.login}
        p E-mail: #{user.info.email}
            br
            | Location: #{user.info.location}
            br
            | Follows: #{user.info.follows}, Followers: #{user.info.followers}
            br
            | Public repositories: 
        ul
            each repository, i in user.public_repositories
                li #{i}: #{repository}